#Sensitive credentials - do not store publicly!
.streamlit/secrets.toml

#Data (csv) files (large size, download manually from Kaggle)
data/*.csv
temp.py

# Python bytecode
__pycache__/
*.pyc
*.pyo

# Serialized models (reproduce by running preprocess.py!)
models/*.pkl
models/*.joblib

# Jupyter
.ipynb_checkpoints/
notebooks/03_API.ipynb

# Conda/Python packaging
*.egg-info
dist/
build/
.env

# OS files
.DS_Store
Thumbs.db

# Notebook outputs
notebooks/*.png

